*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Livvic", " sans-serif";
    background-color: #004047;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}   
.heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.list{
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 30px;
    

}

.list__item{
    background-color: #012F34;
    /* width: 350px; */
    height: 253px;  
    position: relative;
    text-align: center;
    padding-top: 32px;
}
.list__item::after{
    content: "";
    display: inline-block;
    background-image: url(../img/Combined\ Shape.png);
    background-color: #F67E7E;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;   
    background-position: center;
    position: absolute;
    left: 43%;
    top: 88%;
    cursor: pointer;
}
.list__item::after:hover{
    background-color: #79C8C7;
}
.list__img{
    /* padding: 32px 127px 16px 127px; */
    margin-bottom: 16px;
}
.list__text{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    margin: 0 24px;
}
.list__span{
    margin: 0 24px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-style: italic;

}
@media only screen and (max-width:768px){
    .container{
        max-width: 573px;
    
    }
    .heading{
        width: 447px;
        font-size: 32px;    
        line-height: 32px;
        }
    .list{
        grid-template-columns: auto auto;
    }
}
@media only screen and ( max-width:410px){
    .container{
        max-width: 335px;
    }
    .heading{
        width: 327px;
    }
    .list{
        grid-template-columns: auto;
    }
}